<div class = "p-footer">
    <center>
        Você pode me encontrar nas minhas redes sociais: <br/>
        <a href = "http://github.com/ricarthlima/" target = "_blank">GitHub</a> - 
        <a href = "http://fb.com/ricarthlima" target = "_blank">Facebook</a> - 
        <a href = "http://instagram.com/ricarthlima" target = "_blank">Instagram</a> - 
        <a href = "https://www.youtube.com/channel/UCFxy994CuYWRG0HOLBq0gyQ" target = "_blank">YouTube</a> - 
        Medium
    </center>
</div>