<%= content_for :nav do%>
  <%= render "navbar" %>
<% end %>

<%= render 'cabecalho' %>

<div class = "p-secao" id = "sobre">
    <h3>Um pouco da minha história...</h3>
</div>

<div class = "mb-sm">
    <center>
        <%= image_tag "/assets/ricarth-personal.png", class: "imagem-foto"%>
        <h3><strong>Ricarth Ruan da Silva Lima</strong></h3>
    </center>
</div>

<div class = "p-texto">
    
    Olá! Sou estudante de <strong>Sistemas de Informação</strong> no Centro de Informática da Universidade Federal de Pernambuco (CIn-UFPE). Desde muito jovem me interesso
    por computadores e coisas que podemos fazer com eles. Fiz "cursos profissionalizantes" na área ainda na minha infância que, apesar de hoje serem conhecimentos ultrapassados,
    serviram como minha inspiração para seguir os caminhos que trilhei.</p>
    
    Fui estudante do Colégio de Aplicação e foi nessa época que comecei a fazer mover minha vontade de criar coisas, resolver problemas e melhorar a vida das pessoas. Eu acredito
    que esses ímpetos podem ser alcançados de várias formas, mas a minha foi através da programação. Foi no Aplicação que eu tive meu primeiro grande trabalho como desenvolvedor,
    o <strong>LactoRun</strong> uma ferramenta de auxilio à atletas. Nessa época eu era muito jovem na programação e na vida, e isso claramente se refletia no produto desenvolvido,
    porém mesmo assim a equipe LactoRun conquistou vários prêmios, certificações e participações em congressos, algo que eu tenho muito orgulho e sempre vou ser grato.</p>
    
    No período de 2014 à 2016 cursei <strong>Ciência da Computação</strong> no mesmo centro onde hoje curso Sistemas. No começo de 2016 vi que a melhor opção para minha vida
    seria abadonar o curso, tanto por questões pessoais, tanto por não me identificar com o carater claramente científico que CC têm. Eu tinha uma visão muito clara em mente
    de que queria resolver os problemas das pessoas lá fora, com a simplicidade e rapidez que o mundo dos negócios em tecnologia hoje demandam. <strong>Essa se mostrou uma 
    decisão muito acertada, já que hoje me identifico muito com Sistemas de Informação.</strong></p>
    
    Foi no cursando SI que eu descobri outra paixão: gerar conteúdo educativo e ensinar. Fui monitor de <strong>Programação 1</strong> por 3 períodos, de <strong>Algoritmos e 
    Estrutura de Dados</strong> por 2 períodos, e de <strong>Redes de Computadores</strong> por 1 período. Ainda estou me descobrindo no sentido de se vou trilhar minha vida no
    rumo do Empreendedorismo ou da Educação, ou de ambos. Mas no caso mais simples, sempre tentarei ajudar. Você pode conferir meus conteúdos de programação no 
    <a href = "tinyurl.com/secretplaces2">Secret Places</a> e no meu canal no <a href = "https://www.youtube.com/channel/UCFxy994CuYWRG0HOLBq0gyQ">YouTube</a>.</p>
    
    Na primeira metade do ano de 2019 me aventurei no meu primeiro emprego como estagiário de <strong>Desenvolvimento Web Full Stack</strong> na <a href = "http://www.serttel.com.br/">Serttel</a>.
    Foi uma experiência incrível de aprendizado. Lá estavamos desenvolvendo uma reformulação do zero do sistema interno do projeto de Veículos Compartilhados (bicicletas, patinetes, carros etc), e como
    o objetivo era atualizar a tecnologia, usavamos <strong>Angular 7</strong> (HTML, CSS, Bootstrap, Typescript) para o front, e <strong>Spring Boot</strong> (Java, JPA, Hibernate) para o back. 
    Além de ter que aprender na prática usar esses frameworks, entendi também como uma empresa funciona por dentro no mundo real. Fiquei de Janeiro até Julho, e, quando completei 6 meses saí para me
    aventurar em outros projetos.</p>
    
    Hoje sou, além de estudante, desenvolvedor no <a href = "http://lactorun.com.br/">LactoRun</a>, estagiário na , fundador e desenvolvedor do <a href = "https://evegano.herokuapp.com">É vegano?</a>,
    fundador e desenvolvedor do aplicativo Little Thinkers e desenvolvedor para a equipe do Privacy Criteria.
</div>

<div class = "p-secao my-2" id = "sobre">
    <h3>Áreas de Interesse</h3>
</div>

<div>
    <center><img src = "/assets/areas-interesse.png" class = "img-fluid imagem-perdida"></center>
    <div class = "p-secao-sm">
        <h5>Em programação</h5>
    </div>
    <p>Python, Android, Rails, Java, Bootstrap, HTML, CSS, JS e Web Apps.</p>
    
    <div class = "p-secao-sm">
        <h5>Em empreendedorismo</h5>
    </div>
    <p>Lean Startup, Metodologias Ágeis, Gestão de Pessoas, Estudo e Resolução de Problemas, Entrega de Valor, Marketing Digital e Design Thinking.</p>
    
    <div class = "p-secao-sm">
        <h5>Em design</h5>
    </div>
    <p>Experiência do Usuário, Interface do Usuário, Photshop, Premiere.</p>
</div>