<%= content_for :nav do%>
  <%= render "navbar" %>
<% end %>

<img src = "/assets/justice.jpg" class = "img-fluid">

<div class = "p-texto">
    
    <h1>O que fiz enquanto vivi?</h1><br/>
    
    A vida passa rápido demais, e isso me assusta. Quase todo dia algo novo e interessante é lançado e num mundo cada vez mais apressado, parece que estamos constantemente 
    <strong>mais consumindo do que apreciando</strong>. O que mais me assusta nisso é o medo de quando chegar no fim (e estamos chegando no fim a cada segundo)
    sobrar apenas a sensação de que não aproveitamos a viagem suficientemente bem. </p>
    
    Foi com esse pensamento que em 2017 prometi a mim mesmo que iria tentar apreciar mais a viagem, mesmo (e principalmente) naqueles pontos que eu não sou o protagonista,
    e sim um mero espectador de uma obra. Foi um <strong>compromisso</strong> de assistir mais filmes, séries, terminar mais jogos, ler mais HQs e livros.</p>
    
    Nessa página segue portanto o registro desse <strong>compromisso</strong>.
    
    <hr/>
    <!-- 2019 -->
    <h2>2019</h2>
    <h5>Games:</h5>
    
    <h5>Filmes:</h5>
    <ul>
        <li>Black Mirror Bandersnatch</li>
        <li>Bird Box</li>
        <li>Aquaman</li>
        <li>Wifi Ralph</li>
        <li>Homem-Aranha no Aranhaverso</li>
        <li>Como Treinar Seu Dragão 3</li>
        <li>Alita - Maquina de Combate</li>
        <li>Capitã Marvel</li>
        <li>Spider man - Homecoming</li>
        <li>Vingadores - Ultimato</li>
        <li>Até o último homem</li>
        <li>Jumanji - Bem-vindo à Selva</li>
    </ul>
    
    <h5>Séries:</h5>
    <ul>
        <li>Shooter (Netflix) - S01</li>
        <li>Game of Thrones - S08</li>
    </ul>
    
    <h5>Animes:</h5>
    
    <h5>HQs:</h5>
    
    <hr/>
    <!-- 2018 -->
    <h2>2018</h2>
    <div class = "row">
        <div class = "col">
            <h5>Games (3)</h5>
                <ul>
                    <li>Life is Strange </li>
                    <li>Forza Horizon 3 - DEMO </li>
                    <li>Father and Son</li>
                </ul>
                
                <h5>Filmes (19)</h5>
                <ul>
                    <li>Doctor Strange </li>
                    <li>Bright </li>
                    <li>Thor: Ragnarok </li>
                    <li>Pantera Negra</li>
                    <li>Festa da Salsicha</li>
                    <li>A Teoria de Tudo</li>
                    <li>Pirates of the Caribbean: Dead Men Tell No Tales</li>
                    <li>Vigadores: Guerra Infinita</li>
                    <li>Sense8 - Episódio Final</li>
                    <li>Valente</li>
                    <li>Minions</li>
                    <li>Os Incríveis 2</li>
                    <li>Guardiões da Galáxia</li>
                    <li>Assassinato no expresso do oriente</li>
                    <li>Missão Impossível: Efeito Fallout</li>
                    <li>Baby Driver</li>
                    <li>Planeta dos Macacos - O confronto</li>
                    <li>Homem-vespa e a Formiga</li>
                    <li>Animais Fantásticos - Crimes de Grindwald</li>
                </ul>
        </div>
        
        <div class = "col">
            <h5>Séries (5)</h5>
                <ul>
                    <li>Stranger Things </li>
                    <li>Dark </li>
                    <li>Cosmos: Uma odisséia no Espaço-Tempo </li>
                    <li>La Casa de Papel S01 - S02</li>
                    <li>Manhunt: UNABOMBER</li>
                </ul>
                
                <h5>Animes (1)</h5>
                <ul>
                    <li>One Punch-man</li>
                </ul>
                
                <h5>HQs (7)</h5>
                
                <ul>
                    <li>Guerras Secretas: Guerra Civil</li>
                    <li>Mulher Maravilha - Sangue</li>
                    <li>Mulher Maravilha - Direito de Nascença</li>
                    <li>Mulher Maravilha - Força</li>
                    <li>Mulher Maravilha - Guerra</li>
                    <li>Mulher Maravilha - Pele</li>
                    <li>Miss Marvel - Danos por segundo</li>
                </ul>
        </div>
    </div>
    
    
    

</div>