<div class = "footer">
    <center>
        Você pode me encontrar nas minhas redes sociais: <br/>
        <div class = "footer-icons">
            <a href = "http://github.com/ricarthlima/" target = "_blank"><i class="fab fa-github mr-sm"></i></a> 
            <a href = "http://fb.com/ricarthlima" target = "_blank"><i class="fab fa-facebook mr-sm"></i></a>
            <a href = "http://instagram.com/ricarthlima" target = "_blank"><i class="fab fa-instagram mr-sm"></i></a>
            <a href = "https://www.youtube.com/channel/UCFxy994CuYWRG0HOLBq0gyQ" target = "_blank"><i class="fab fa-youtube mr-sm"></i></a> 
            <a href = "https://medium.com/@rrsl" target = "_blank"><i class="fab fa-medium"></i></a>
        </div>
    </center>
</div>