<div class = "secao" id = "idiomas">
    <h2>English, do you speak it?</h2>
</div>

<div class = "texto">
    <table class = "table">
        <thead>
            <th>Idioma</th>
            <th>Compreede</th>
            <th>Fala</th>
            <th>Lê</th>
            <th>Escreve</th>
        </thead>
        <tbody>
            <tr>
                <td>Inglês</td>
                <td>Bem (Ex.: Assisto aulas)</td>
                <td>Pouco</td>
                <td>Muito Bem (Ex.: Leio artigos)</td>
                <td>Razoavelmente</td>
            </tr>
            <tr>
                <td>Espanhol</td>
                <td>Pouco</td>
                <td>Pouco</td>
                <td>Pouco</td>
                <td>Pouco</td>
            </tr>
        </tbody>
    </table>
</div>