<nav class="navbar navbar-expand-lg navbar-light bg-green">
  <div class = "container">
    <!-- Brand e logo -->
    <a class="navbar-brand" href=<%= root_path%>>Ricarth Lima
    </a>
    
    <!-- Botão Sanduíche -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Tudo dentro dessa div vai sumir -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://sites.google.com/cin.ufpe.br/ricarthlima/p%C3%A1gina-inicial">Site Acadêmico</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>