<nav class="navbar navbar-expand-lg fixed-top navbar-dark nav-color">
  <div class = "container">
    <!-- Brand e logo -->
    <a class="navbar-brand" href=<%= root_path%>>
      <img src=<%=asset_path('ricarth-foto-redonda.png')%> width="30" height="30" class="d-inline-block align-top" alt="Ricarth Lima">
    </a>
    
    <!-- Botão Sanduíche -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Tudo dentro dessa div vai sumir -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#info">Informações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#profissional">Profissional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#academica">Acadêmico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#idiomas">Idiomas</a>
        </li>
      </ul>
      
      <ul class = "navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="https://sites.google.com/cin.ufpe.br/ricarthlima/p%C3%A1gina-inicial">Site Acadêmico</a>
        </li>
      </ul>
    </div>
    
  </div>
</nav>