<div class = "secao">
    <h2>Quais são meus objetivos na MAGNERO?</h2>
</div>

<div class = "texto" align="justify">
    Na <strong>MAGNERO</strong> meu objetivo é aprimorar meus conhecimentos em desenvolvimento Android.
    Sou um admirador de tecnologias mobile e como elas podem impactar na vida das pessoas,
    portanto aprender trabalhando com isso é um privilégio para mim. Além disso me intersso
    por Marketing Digital e por isso já trabalhei como <strong>Analista de Marketing no
    CITi (Centro Integrado de Tecnologia da Informação da UFPE)</strong> e já participei de capacitações
    como o <strong>Cresça com o Google - Marketing Digital.</strong><br/>
    Sim eu sei a diferença entre SEO e SEM. :)
    
</div>