<div class = "secao">
    <h2>Quais são meus objetivos na Serttel?</h2>
</div>

<div class = "texto" align="justify">
    Na <strong>Serttel</strong> posso atuar tanto como desenvolvedor Android quanto desenvolvedor Web pois tenho interesse nas duas áreas.
    Sou um admirador das novas tecnologias e como elas podem impactar na vida das pessoas, portanto aprender trabalhando com isso é um privilégio para mim.
    Acredito que a <strong>Serttel</strong> tem uma entrega de valor que faz muito sentido com minha vida e meus valores ao entregar soluções inteligentes para
    a mobilidade urbana, principalmente por essa ser uma dor não só da sociedade, mas também minha.
</div>
