<div class = "secao">
    <h2>Como posso ser útil?</h2>
</div>

<div class = "texto">
    <center>
        <table class = "table table-responsive-lg">
            <thead>
                <th><center>Android</center></th>
                <th><center>MySQL</center></th>
                <th><center>MVC</center></th>
                <th><center>GitHub</center></th>
            </thead>
            <tbody>
                <tr>
                    <td><center><%= image_tag "/assets/logos/lactorun.png", class: "imagem-logo" %></center></td>
                    <td><center><%= image_tag "/assets/logos/sqlite.jpg", class: "imagem-logo" %></center></td>
                    <td><center><%= image_tag "/assets/logos/evegano.png", class: "imagem-logo" %></center></td>
                    <td><center><%= image_tag "/assets/logos/github.png", class: "imagem-logo" %></center></td>
                </tr>
                <tr>
                    <td><center><strong>LactoRun</strong></center></td>
                    <td><center><strong>Android + SQLite3</strong></center></td>
                    <td><center><strong>É vegano?</strong></center></td>
                    <td><center><strong>GitHub</strong></center></td>
                </tr>
                <tr>
                    <td align="justify">Tenho experiência de ter lançado um App Android na Play Store como resultado
                    final de um Projeto de Extensão na UFPE.</td>
                    <td align="justify">Quando desenvolvi o LactoRun, usei o SQLite3, além disso estudei OracleSQL,
                    então por essa experiência terei facilidade em aprender MySQL.</td>
                    <td align="justify">Estou desenvolvendo um projeto em Ruby on Rails com o objetivo de ajudar o
                    público vegano a descobrir se um produto é vegano ou não, e a justificativa. 
                    Nesse projeto usamos a arquitetura MVC.</td>
                    <td align="justify">Estou familiarizado com o GitHub. Tanto no uso do controle de versão do Git,
                    quanto nas inúmeras funcionalidades de colaboratividade que o GitHub traz.</td>
                </tr>
                <tr>
                    <td><center><a href = "https://play.google.com/store/apps/details?id=br.ufpe.cin.lactorun" target = "_blank">LactoRun na Play Store</a></center></td>
                    <td></td>
                    <td><center><a href = "https://evegano.herokuapp.com" target = "_blank">É vegano? - App</a></center></td>
                    <td><center><a href = "https://github.com/ricarthlima/eo-project-es" target = "_blank">Repositório do É vegano?</a></center></td>
                </tr>
            </tbody>
        </table>
    </center>
</div>