/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*Importações*/
@import 'bootstrap';
@import 'fara.scss';

/*Definição de Padrões*/
body{
    background-color: #f4f4f4;
    font-family: 'Libre Franklin', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Oswald', sans-serif;
}

/*Atalhos*/
.mt-sm{
    margin-top: 5px;
}

.mb-sm{
    margin-bottom: 5px;
}

.mr-sm{
    margin-right: 5px;
}

.ml-sm{
    margin-left: 5px;
}

.mt-sm{
    margin-top: 5px;
}

.mt-md{
    margin-top: 15px;    
}

.mb-md{
    margin-bottom: 15px;
}

.no-padding{
    padding: 0px;
}


/*Outros*/
.padding-lados{
    padding-left: 3%;
    padding-right: 3%;
}

.nav-color{
    background-color: #26053F;
    color: #FFFFFF;
}

.nav-shadow{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.nav-text-color{
    color: #FFFFFF;
}

.nav-margin{
    margin-bottom: 30px;
}

.bg-branco{
    background-color: #FFFFFF;
}

div.titulo{
    padding: 5%;
    background-color: #F0F0F0;
}

div.titulo-imagem{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 9%;
    min-height: 300px;
    
    color: #FFFFFF;
    
    background-image: url('ricarth-fundo-roxo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
}

img.imagem-foto{
    max-height: 150px;
    border-radius: 50%;
    border: 5px solid #3B4F36;
}

div.secao{
    padding: 3%;
    background-color: #292929;
    color: #FFFFFF;
}

div.texto{
    padding: 3%;
}

img.imagem-logo{
    max-height: 76px;
    width: auto;
    height: auto;
}

div.justificado{
    text-align: justify;
    text-justify: inter-word;
}

/*Pessoal*/

.nav-p-color{
    background-color: #2d431c;
}

.p-header{
    position: relative;
}

.p-title-background{
    background: #292929E6;
    color: white;
    text-align: right;
    padding: 7px 3%;
    
    width: 100%;
    
    position: absolute;
    bottom: 3%;
    right: 0px;
}

.p-secao{
    padding: 20px 3% 12px 3%;
    background-color: #2d431c;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.p-secao-sm{
    padding: 9px 2% 1px 2%;
    background-color: #2d431c;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 10px;
}

.p-texto{
    padding: 3%;
    text-align: justify;
    text-justify: inter-word;
}

.p-titulo-imagem{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 9%;
    min-height: 300px;
    
    color: #FFFFFF;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.5);

    background-image: url('ricarth-fundo-pessoal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
}

.footer{
    padding: 20px 10px;
    background-color: #292929;
    color: #FFFFFF;
    font-size: small;
}

.footer-icons{
    font-size: 2em;
}

.imagem-perdida{
    max-width: 75%;
    margin-bottom: 25px;
}

.text-light{
    color: #A9D0C6;
}

.item-carrosel{
    background: #18280b; 
    height: auto; 
    padding-top: 20px;
}

.img-carrosel{
    max-height: 500px;
    max-width: 90vw;
}

.grid-img{
    max-height: 250px;
    max-width: auto;
}

.grid-img-area{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-col{
    min-width: 250px; 
    max-width: 250px; 
    margin-top: 15px;
}

.grid-text-area{
    height: 100px; 
    margin-top: 10px; 
    overflow-y:auto;
}

.caption-carrosel{
    background: #00000026; 
    margin-top: 20px;
    padding-bottom: 40px;
    position: static;
}

.botao-flutuante{
    bottom: 16px;
    right: 16px;
    
    font-size: 30px;
    color: white;
    text-align: center;
    
    background: #292929;
    border-radius: 50%;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    
    padding-top: 7px;
    height: 60px;
    width: 60px;
    
    position: fixed;
}

.botao-flutuante:hover{
    color: #dddddd;
}

.image-destaque{
    border: 3px solid #2D431C;
    border-radius: 75px;
}