/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';

body{
    //background-color: #f4eafa;
    background-color: #f4f4f4;
}

.mt-sm{
    margin-top: 5px;
}

.no-padding{
    padding: 0px;
}

.padding-lados{
    padding-left: 3%;
    padding-right: 3%;
}

.nav-color{
    background-color: #26053F;
    color: #FFFFFF;
}

.nav-shadow{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.nav-text-color{
    color: #FFFFFF;
}

.nav-margin{
    margin-bottom: 30px;
}

.bg-branco{
    background-color: #FFFFFF;
}

div.titulo{
    padding: 5%;
    background-color: #F0F0F0;
}

div.titulo-imagem{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 9%;
    min-height: 300px;
    
    color: #FFFFFF;
    
    background-image: url('ricarth-fundo-roxo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
}

img.imagem-foto{
    max-height: 150px;
}

div.secao{
    padding: 3%;
    background-color: #292929;
    color: #FFFFFF;
}

div.texto{
    padding: 3%;
}

div.footer{
    padding: 1%;
    background-color: #26053F;
    color: #FFFFFF;
    font-size: small;
}

img.imagem-logo{
    max-height: 76px;
    width: auto;
    height: auto;
}

div.justificado{
    text-align: justify;
    text-justify: inter-word;
}

// Pessoal

.nav-p-color{
    background-color: #2d431c;
}

.p-secao{
    padding: 1% 3% 1% 3%;
    background-color: #2d431c;
    color: #FFFFFF;
}

.p-texto{
    padding: 3%;
    text-align: justify;
    text-justify: inter-word;
}

.p-titulo-imagem{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 9%;
    min-height: 300px;
    
    color: #FFFFFF;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.5);

    background-image: url('ricarth-fundo-verde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
}

.p-footer{
    padding: 1%;
    background-color: #2d431c;
    color: #FFFFFF;
    font-size: small;
}

.imagem-perdida{
    max-width: 70%;
}

.text-light{
    color: #A9D0C6;
}

.item-carrosel{
    background: #18280b; 
    height: auto; 
    padding-top: 20px;
}

.img-carrosel{
    max-height: 500px;
}

.caption-carrosel{
    background: #00000026; 
    margin-top: 20px;
    padding-bottom: 40px;
    position: static;
}