<div class = "secao">    
    <h2>
    <img src = "assets/icons/cogs.png" class = "secao-icon">
    Como posso ser útil?
    </h2>
</div>

<div class = "row" style = "padding: 15px;">
    <div class = "col-12 col-sm-3">   
        <div class = "skills-title">
            Ruby on Rails
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/rails.png" height = 75> </center>
        </div>
        <div class = "skills-text">
            Meu <a href = "http://ricarth.me" target = "_blank">site pessoal</a>, o <a href = "http://evegano.herokuapp.com/" target = "_blank">É vegano?</a>, 
            o  <a href = "http://lactorun.com.br/" target = "_blank">LactoRun</a>, o <a href = "http://eu-quero.herokuapp.com/" target = "_blank">Eu quero?</a> são exemplos
            de sistemas que desenvolvi em Ruby on Rails e rodam no Heroku.</br></br>
            Inclusive tenho uma playlist com vídeo aulas que dei sobre o assunto no meu <a href = "https://www.youtube.com/playlist?list=PLUISJzKGewLyM98AIB6OSWQG3CpPZVHTJ" target = "_blank"> canal do YouTube</a>.
        </div>
    </div>
    <div class = "col-12 col-sm-3">   
        <div class = "skills-title">
            Desenvolvimento Web
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/web.png" height = 75> </center>
        </div>
        <div class = "skills-text">
            Durante meu estágio na Serttel pude aprimorar meus conhecimentos em desenvolvimento web. Passando do básico do HTML, CSS e Bootstrap, para Angular2 e TypeScript. 
        </div>
    </div>
    <div class = "col-12 col-sm-3">
        <div class = "skills-title">
            Git e GitHub
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/github.png" height = 75> <img src = "/assets/logos/bitbucket.png" height = 75></center>
        </div>
        <div class = "skills-text">
            Estou familiarizado com o GitHub. Tanto no uso do controle de versão do Git, quanto nas inúmeras funcionalidades de colaboratividade que o GitHub traz.
            Uso <a href = "https://github.com/ricarthlima" target = "_blank">GitHub</a> diariamente em projetos acadêmicos, 
            profissionais e pessoais. Tive uma experiência diferenciada com o Git usando BitBucket quando trabalhei na <a href = "http://www.serttel.com.br/" target = "_blank">Serttel</a>.
        </div>
    </div>
    <div class = "col-12 col-sm-3">
        <div class = "skills-title">
            Scrum
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/scrum.png" height = 75> </center>
        </div>
        <div class = "skills-text">
            Utilizo metodologias ágeis em vários aspectos da minha vida. Mas falando de Scrum, 
            além de usar durante projetos que eram de início acadêmicos, 
            como o <a href = "http://evegano.herokuapp.com/" target = "_blank">É vegano?</a>, <a href = "http://www.kemu.com.br/" target = "_blank">Kemu Gamification</a> e o <a href = "http://lactorun.com.br/" target = "_blank">LactoRun</a>, 
            tive uma experiência real quando trabalhei na <a href = "http://www.serttel.com.br/" target = "_blank">Serttel</a>.
            Para complementar, também tenho experiência com Design Thinking e Lean Startup.
        </div>
    </div>
    
    <div class = "col-12 col-sm-3">   
        <div class = "skills-title">
            Flutter
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/flutter.png" height = 75> </center>
        </div>
        <div class = "skills-text">
            Tenho uma forte experiência com o desenvolvimento mobile usando Flutter. 
            Com esse framework fui co-desenvolvedor do front-end do <a href = "http://www.kemu.com.br/" target = "_blank">Kemu Gamification</a>, 
            do jogo <a href = "http://bit.ly/play-fara" target = "_blank">F(or) A Real Angel</a>, e estou trabalhando no desenvolvimento de outros 
            sistemas, como um de controle de gastos e outro de lista de compras.
        </div>
    </div>
    <div class = "col-12 col-sm-3">
        <div class = "skills-title">
            Java e Android
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/java.png" height = 75> <img src = "/assets/logos/android.png" height = 75> </center>
        </div>
        <div class = "skills-text"> 
            Boa parte da minha vida de desenvolvedor foi com Java, portanto também tenho experiência com POO. 
            Durante o período de 2014 a 2016 desenvolvi as primeiras versões do <a href = "http://lactorun.com.br/" target = "_blank">LactoRun</a> usando Android Nativo.
        </div>
    </div>
    <div class = "col-12 col-sm-3">
        <div class = "skills-title">
            Arquitetura MVC
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/mvc.png" height = 75> </center>
        </div>
        <div class = "skills-text">
            Estou desenvolvendo um projeto filantropo (<a href = "http://evegano.herokuapp.com/" target = "_blank">É vegano?</a>) em Ruby on Rails + Flutter com o objetivo de ajudar o público vegano a descobrir se um produto é vegano ou não, e a justificativa. 
            Nesse projeto usamos a arquitetura MVC.
        </div>
    </div>
    <div class = "col-12 col-sm-3">
        <div class = "skills-title">
            SQL e NoSQL
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/sql.png" height = 75> <img src = "/assets/logos/firebase2.png" height = 75></center>
        </div>
        <div class = "skills-text">
            Em todos os projetos supracitados, usei bancos de dados relacionais, então por essa experiência terei facilidade em aprender e em utilizar qualquer banco de dados estruturado em SQL. 
            Tenho uma breve experiência com NoSQL por usar o Firestore Database do Firebase.
        </div>
    </div>
    <div class = "col-12 col-sm-3">
        <div class = "skills-title">
            Python
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/python.png" height = 75> </center>
        </div>
        <div class = "skills-text">
            Python é uma das minhas linguagens favoritas. 
            Fui monitor de cadeiras que usavam Python por 3 anos da minha graduação, e estou escrevendo um livro a respeito. 
            Acredito bastante que essa seja uma das melhores <b>linguagens para se iniciar no estudo de programação.</b>
            Dei um <a href = "http://bit.ly/laco-py" target = "_blank">curso</a> para alunos de Engenharia Química - UFPE de programação com Python.
        </div>
    </div>
    <div class = "col-12 col-sm-3">
        <div class = "skills-title">
            Google Services
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/firebase2.png" height = 75> <img src = "/assets/logos/playconsole.png" height = 75> <img src = "/assets/logos/admob.png" height = 75> </center>
        </div>
        <div class = "skills-text">
            Tenho interesse e estou aprendendo a usar ferramentas de back-end (Firebase), publicação (Google Play Console) e monetização (AdMob) da Google, em especial para projetos pessoais.
        </div>
    </div>
    <div class = "col-12 col-sm-3">
        <div class = "skills-title">
            Photoshop e Design
        </div>
        <div class = "skills-images">
            <center> <img src = "/assets/logos/ps.jpg" height = 75> </center>
        </div>
        <div class = "skills-text">
            Uso Photoshop a mais de 10 anos. Começou como um hobby na época do CS3 e hoje utilizo esses conhecimentos nos projetos em que me envolvo. Em todos os projetos citados anteriormente, todas as artes foram criadas ou editadas por mim.</br>
            Com o tempo ganhei noções de design, paleta de cores etc.
        </div>
    </div>
    
</div>