<!-- Cabeçalho -->
<center>
    <div class = "container titulo-imagem">
        <div class = "row">
            <div class = "col align-self-end" id = "quote">
                <h3 >“This is one of the most important lessons of the scientific method: if you cannot fail, you cannot learn.”</h3>
                    ― Eric Ries, The Lean Startup
             </div>
        </div>
    </div>
</center>