<li class = "list-group-item"><strong>Tel:</strong> (81) 99696-0513<br/></li>
<li class = "list-group-item"><strong>Endereço:</strong><br/>Rua Castelo Branco - Nº 159, Jardim Primavera - Camaragibe</li>
<li class = "list-group-item"><strong>+</strong> Tenho 22 anos, sou <strong>brasileiro</strong> e meu estado civil é <strong>solteiro.</strong></li>