<div class = "secao" id = "info">    
    <h2>
    <img src = "assets/icons/programmer.png" class = "secao-icon">
    Antes de mais nada, o básico.
    </h2>
</div>


<div class = "container my-4 padding-lados" id = "info_basica">
    <div class = "row">
        <div class = "col-md-auto my-2">
            <center><%= image_tag "/assets/ricarth.png", class: "imagem-foto"%></center>
        </div>
        <div class = "col my-2">
            <h3 style = "color: var(--red);"><strong>Ricarth Ruan da Silva Lima</strong></h3>
            <ul class="list-group list-group-flush">
                <li class = "list-group-item"><strong>Sistemas de Informação - CIn (UFPE)</strong> - 7º Período (2020.1)<br/></li>
                <li class = "list-group-item"><strong>Recife - Pernambuco</strong><br/></li>
                <li class = "list-group-item"><strong>E-mail:</strong> <a href = "mailto:rrsl@cin.ufpe.br">rrsl@cin.ufpe.br</a><br/></li>
                <li class = "list-group-item" style = "text-align: justify !important;">
                Olá! Sou <b>estudante de SI</b>, 
                <b><a href = "http://github.com/ricarthlima" target = "_blank">programador</a></b>, 
                aspirante à <b>empreendedor</b>, 
                <b><a href = "http://bit.ly/laco-py" target="_blank">professor</a></b>,
                <b><a href = "https://www.youtube.com/playlist?list=PLUISJzKGewLyM98AIB6OSWQG3CpPZVHTJ" target="_blank">criador de conteúdo de programação</a></b>, e
                <!-- <b><a href = "http://instagram.com/rich_art96" target="_blank">artista</a></b>, -->
                
                <b><a href = "https://steamcommunity.com/id/ricarthlima" target = "_blank">apaixonado por jogos</a></b>. Desde muito jovem me interesso por computadores 
                e coisas que podemos fazer com eles.
                </li>
                <% if @sensivel == true %>
                    <%= render "shared/info_basica_sensivel" %>
                <% end %>
            </ul>
        </div>
    </div>
</div>
 