<div class = "secao">    
    <h2>
    <img src = "assets/icons/dossier.png" class = "secao-icon">
    O que é o mínimo que você precisa saber?
    </h2>
</div>

<div style = "padding: 15px; margin: auto;">
    <div class = "row align-items-start">
        <div class = "col-12 col-sm align-self-start">
            <center>
                <img class = "image-destaque" src = "/assets/logos/evegano.png">
                <a href = "https://evegano-aph.herokuapp.com/" target = "_blank"><h4>É vegano?</h4></a>
                <small>
                    Informamos se um produto é vegano ou não, sem precisar perder tempo olhando rótulos.
                </small>
                <div style = "color: blue; font-size: 0.8em;">rails</div>
            </center>
        </div>
        <div class = "col-12 col-sm  align-self-start">
            <center>
                <img class = "image-destaque" src = "/assets/logos/lactorun-round.png" height = "128">
                <a href = "http://www.lactorun.com.br/" target = "_blank"><h4>LactoRun</h4></a>
                <small>
                    Hoje, a forma de medir a Máxima Fase Estável de Lactato é invasiva e cara. Queremos melhorar isso com matemática e tecnologia.
                </small>
                <div style = "color: blue; font-size: 0.8em;">rails, android nativo</div>
            </center>
        </div>
        <div class = "col-12 col-sm  align-self-start">
            <center>
                <img class = "image-destaque" src = "/assets/logos/kemu-round.png" height = "128">
                <a href = "http://www.kemu.com.br/" target = "_blank"><h4>Kemu</h4></a>
                <small>
                    Gamificação na sala de aula é excelente para a didática mas traz uma sobrecarga imensa para o professor. Nós usamos tecnologia para tornar a gamificação viável.
                </small>
                <div style = "color: blue; font-size: 0.8em;">django, flutter</div>
            </center>
        </div>
        <div class = "col-12 col-sm  align-self-start">
            <center>
                <img class = "image-destaque" src = "/assets/logos/fara-round.png" height = "128">
                <a href = "https://projeto-k22b.herokuapp.com/" target = "_blank"><h4>F(or) A Real Angel</h4></a>
                <small>
                    Jogo de mistério e enigmas no estilo "riddle". 
                </small>
                <div style = "color: blue; font-size: 0.8em;">rails, flutter</div>
            </center>
        </div>
        <div class = "col-12 col-sm  align-self-start">
            <center>
                <img class = "image-destaque" src = "/assets/logos/euquero-round.png" height = "128">
                <a href = "http://eu-quero.herokuapp.com/" target = "_blank"><h4>Eu quero!</h4></a>
                <small>
                    Vai dar um aniversário, uma festa de casamento, um chá de bebê e quer criar uma lista de presentes para seus convidados? O Eu quero! te ajuda com isso! 
                </small>
                <div style = "color: blue; font-size: 0.8em;">rails</div>
            </center>
        </div>
    </div>
    </br>
    <center><h5>Projetos para empresas privadas permanecem ocultos.</h5></center>
</div>
